$font-sans: 'DM Sans', Roboto, sans-serif;

// colors
$color-white: rgb(255, 255, 255);
$color-main-dark: rgb(19, 3, 3);
$color-main: rgb(45, 8, 10);
$color-main-light: rgb(124, 54, 38);
$color-secondary: rgb(245, 133, 63);
$color-secondary-light: rgb(255, 205, 188);
$color-red: rgb(162, 62, 72);
$color-green: rgb(131, 188, 169);

// breakpoints
$desktop-width: 1280px;
$tablet-width: 768px;
$mobile-big-width: 375px;
$mobile-small-width: 320px;