$font-sans: 'DM Sans', Roboto, sans-serif;

// colors
$color-white: rgb(255, 255, 255);

// breakpoints
$desktop-width: 1280px;
$tablet-width: 768px;
$mobile-big-width: 375px;
$mobile-small-width: 320px;